@import url(stylesheet.css);
/* импорт шрифтов */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background: url(../img/bg.jpg);
    min-height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.menu__list {
    display: flex;
}

/* все кроме первого элемента */

.menu__list li+li {
    padding-left: 50px;
}

.login {
    margin-right: 44px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.menu__list a {
    opacity: 0.5;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s;
}

.menu__list a:hover {
    opacity: 1;
}

.sign-up {
    text-transform: uppercase;
    color: #250F8A;
    font-weight: 600;
    background-color: #fff;
    padding: 8px 43px;
    border-radius: 20px;
}

.header__slider {
    padding-top: 111px;
}

.header__slider__item-content {
    display: flex;
    justify-content: space-between;
}

.header__slider__item-info {
    max-width: 505px;
    color: #fff;
}

.header__slider__title {
    font-weight: 700;
    font-size: 39px;
    line-height: 60px;
    margin-bottom: 10px;
}

.header__slider__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 55px;
    margin-bottom: 60px;
}

.header__slider__btn {
    color: #250F8A;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 39px;
    background-color: #FFCA00;
    border-radius: 25px;
}

.header__slider__item-images {
    margin-right: 82px;
    margin-top: 10px;
}

.header-dots {
    list-style: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-dots button {
    border: none;
    background-color: #fff;
    opacity: 0.5;
    font-size: 0;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    cursor: pointer;
    outline: none;
    margin: 10px auto;
    display: block;
}

.header-dots .slick-active button {
    width: 15px;
    opacity: 1;
}

.special {
    padding: 55px 0 93px 0;
    background-image: url(../img/style.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #202020;
    text-align: center;
}

.special_title {
    margin-bottom: 96px;
}

.title {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
}

.special__items {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

.special__item {
    width: 280px;
}

.special__item-img {
    margin-bottom: 23px;
    min-height: 159px;
}

.special__item-title {
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 700;
}

.special__item-text {
    padding: 0 10px;
    color: #272727;
    opacity: 0.7;
}

.advantages {
    padding-top: 64px;
    background-color: #f4f9fd;
    background-image: url(../img/style1.svg);
    background-position: right center;
    background-repeat: no-repeat;
}

.advantages-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px;
}

<<<<<<< Updated upstream
=======
.advantages-box--right .advantages-box__info{
    order: 1;
}

>>>>>>> Stashed changes
.advantages-box__info {
    max-width: 466px;
    padding-top: 60px;
}

.advantages-box__title {
    color: #202020;
    font-weight: 700;
    font-size: 33px;
    line-height: 45px;
    padding: 68px 0 15px 48px;
}

.advantages-box__text {
    padding-left: 48px;
    color: #272727;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.advantages-box__text p {
    margin: 12px 0;
}

.reviews {
    background-image: url(../img/bg-reviews.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 38px 0 82px;
}

.reviews__title {
    color: #fff;
    margin: 0 auto 48px;
    max-width: 384px;
}

.reviews__items {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.reviews__item {
    width: 300px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .2);
    padding: 35px 20px;
    color: #fff;
}

.reviews__item-head {
    margin-bottom: 13px;
    display: flex;
}

.reviews__item-head img {
    border-radius: 50%;
    margin-right: 20px;
}

.reviews__item-name {
    font-weight: 600;
}

.reviews__item-position {
    opacity: 0.5;
}

.reviews__item-text {
    text-align: center;
    padding-top: 39px;
    position: relative;
}

.reviews__item-text::before {
    content: "“";
    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    color: #272727;
    padding: 20px 40px 17px;
}

.footer__link a+a {
    margin-left: 20px;
}

/* TODO Медиа запросы */

@media (max-width: 1620px){
    .advantages{
       background-image: none;
    }
}

@media (max-width: 1201px){
    .special{
        background-size: 60px;
    }
}

@media (max-width: 1190px){
    .header__slider__item-images{
        margin: 50px 20px 0 0;
    }
    .header__slider__item-images img{
        width: 80%;
    }
    .header__slider__item-info{
        padding: 50px 0;
    }
    .advantages-box__images img{
        width: 80%;
    }
    .advantages-box__images{
        text-align: center;
    }
    .advantages-box{
        justify-content: space-around;
    }
    .advantages-box--right .advantages-box__title{
        padding: 30px 0 15px 20px;
    }
    .advantages-box--right .advantages-box__text{
        padding-left: 20px;
    }
    .advantages-box--right .advantages-box__info{
        padding-right: 30px;
    }
}
@media (max-width: 1080px){
    .special{
        background-image: none;
    }
    .advantages-box__info{
        padding-top: 10px;
    }
    .advantages-box--right .advantages-box__info{
        padding-top: 10px;
    }
    .advantages-box__images img{
        width: 71%;
        margin-top: 40px;
    }
    .reviews__items{
        flex-wrap: wrap;
        justify-content: center;
    }
    .reviews__item{
        width: 48%;
        margin: 25px;
    }
}
@media (max-width: 924px){
    .header__top{
        flex-wrap: wrap;
    }
    .header-btn{
        width: 100%;
        text-align: right;
    }
    .login{
        margin-right: 30px;
    }
}

@media (max-width: 900px){
    .header__slider__item-images{
        display: none;
    }
}

@media (max-width: 858px){
    .advantages-box__info{
        max-width: 100%;
    }
    .advantages-box{
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .advantages-box--right .advantages-box__info{
        order: -1;
    }
    .advantages{
        padding-top: 0;
    }
    .advantages-box__images img{
        width: 100%;
    }
}

@media (max-width: 775px){
    .special{
        padding: 20px 0 40px;
    }
    .special_title{
        margin-bottom: 40px;
    }
    .special__items{
        flex-wrap: wrap;
    }
    .special__item{
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 685px){
    .reviews__items{
        display: block;
    }
    .reviews__item{
        width: 100%;
        margin: 25px 0;
    }
    .reviews{
        padding: 38px 0;   
    }
}
@media (max-width: 620px){
    .footer__inner{
        display: block;
        text-align: center;
        padding: 20px 10px 17px;
    }
    .footer__link{
        margin-bottom: 10px;
    }
}

@media (max-width: 569px){
    .menu__list{
        display: none;
        position: absolute;
        top: 120px;
        left: 0;
        text-align: center;
        width: 100%;
        background-color: #1a50a8;
        z-index: 5;
    }
    .menu__list li + li {
        padding-left: 0;
    }
    .menu__list a{
        display: block;
        padding: 10px 0;

    }
    .menu__btn{
        width: 30px;
        height: 20px;
        position: relative;
    }
    .menu__btn span{
        width: 100%;
        height: 2px;
        background-color: #fff;
        top: 9px;
        position: absolute;
    }
    .menu__btn::after,
    .menu__btn::before{
        content: "";
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
    }
    .menu__btn::after{
        top: 0;
    }
    .menu__btn::before{
        bottom: 0;
    }
    .header__slider__item-info{
        padding: 10px 0;
    }
    .header{
        min-height: 580px;
    }
    .header__slider__description{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 35px;
    }
    .header__slider__title{
        font-size: 35px;
        line-height: 45px;
    }
    .special__items{
        display: block;
    }
    .special__item{
        width: 100%;
    }
    .title{
        font-size: 30px;
        line-height: 40px;
    }
    .advantages-box__title{
        padding: 68px 0 15px 0;
        font-size: 30px;
        line-height: 40px;
    }
    .advantages-box__text{
        padding-left: 0;
    }
    .advantages-box--right .advantages-box__title{
        padding: 30px 0 15px 0;
    }
    .advantages-box--right .advantages-box__text{
        padding-left: 0;
    }
}





@media (min-width: 570px){
    .menu__list{ 
        display: flex !important;
    } 
}